<div class="container">
  <div *ngIf="success==1">
    <div class="row mt-5">

    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <h2 class="text-success">
          <i class="fa fa-check-circle"></i>Email Verified!</h2>
        <h5 class="text-danger">Thanks for signing up in TO-DO Application. Please
          <a [routerLink]="['/login']">Login</a>
        </h5>
      </div>
    </div>
  </div>
  <!--success end-->
  <!---failure start-->
  <div *ngIf="failure==1">
    <div class="row mt-5">

    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <h2 class="text-danger">
          <i class="fa fa-times-circle"></i>Email Not Verified!</h2>
        <h5 class="text-danger">Oops!Some Error Occured!.Please again
          <a [routerLink]="['/signup']">SignUp</a>
        </h5>
      </div>
    </div>

  </div>
  <!-- failure end -->
</div>