<!--
<div class="container ">

  <img src="https://i.stack.imgur.com/QQOcg.jpg" class="mx-auto d-block">
  
</div>
-->


<div class="container">
    <div>
      <div class="row mt-5">
        <div class="col-12">
          <img src="https://i.stack.imgur.com/QQOcg.jpg" style="width:102vmin;height:52vmin"
            class="img-fluid d-block mx-auto">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 text-center">
          <h5 class="text-danger">Try Again after email verification
              <a [routerLink]="['/login']">Redirect to Login</a>
          </h5>
        </div>
      </div>
    </div>
</div>